<form class="form-signin" method="POST">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">Deposite um valor</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="tipo">Tipo da conta:</label>
            <input type="text" id="tipo" class="form-control" placeholder="" required="Tipo da conta" autofocus="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="saldo">Saldo da conta:</label>
            <input type="number" id="saldo" class="form-control" placeholder="Saldo" required="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        </div>
    </div>
</form>
